html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px auto;
  background-color: #588477;
  border-top: 3px #145b1d solid;
  border-bottom: 3px #145b1d solid;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {

}

.banner {
  padding-top: 10em;
  background:
  url("../images/banner.jpg") no-repeat left top / cover,
  url("../images/two-leaves.svg") no-repeat left top / 100% auto;
}

.banner-content {
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
