html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px auto;
  background-color: #588477;
  border-top: 3px #2d5a4d solid;
  border-bottom: 3px #2d5a4d solid;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-radius: 8px;
  border: 3px #2d5a4d solid;
}

.nav a:hover {
  color: #145b1d;
  background-color: #fff;
  background-image: url("../images/leaf-icon.svg");
  border-color: #145b1d;
  background-size: 50%;
  background-position: .75em center;
  background-repeat: no-repeat;
}

.banner {
  background:
    linear-gradient(to top, rgba(16, 52, 41, .8) 1%, rgba(16, 52, 41, 0) 50%),
    url("../images/banner.jpg") no-repeat center bottom / cover;
  border-bottom: 3px solid #2d5a4d;
  background-position: center bottom;
}

.banner-content {
  color: #fff;
  padding-top: 300px;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 100px 90px;
  background-position: .75em 180px;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
